<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DND2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>28661B681D381A09001D4661</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28661B7F1D381A0A001D4661</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28661B8A1D381A0A001D4661</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
